:root {
  --main-color: #6255a5;
  --white-color: #fff;
  --light-black-color: #333333;
  --greenyellow-color: greenyellow;
  --black-color: #000;
  --light-d1-color: #d1d1d1;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.invalid-text {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #ff3636;
}

.btn {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-style: "Open sans", sans-serif;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-full-width {
  width: 100%;
}

.btn-primary1 {
  color: var(--white-color) !important;
  background-color: var(--main-color) !important;
}

.btn-primary1:hover,
.btn-primary1:focus {
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  background-color: var(--white-color) !important;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
