.navbar {
  padding: 20px 0;
}
.navbar .row {
  width: 100%;
  flex-direction: row;
  gap: 24px;
  margin: 0;
}

#navbarSupportedContent {
  flex: 1 1;
  padding: 0;
}

.navbar-header {
  flex: 0 0 263px;
  padding: 0;
}

.navbar-brand {
  margin-right: 0;
}

#navbarSupportedContent .nav-item {
  padding: 0 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

ul.navbar-nav li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}

ul.navbar-nav > li:last-child {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 38px;
  margin-left: 12px;
}
ul.navbar-nav > li:last-child a {
  font-size: 16px;
  font-weight: 600;
  color: #6255a5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 55px;
  text-align: center;
}

.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-item a.nav-link:hover {
  color: #6255a5;
}

ul.navbar-nav > li:last-child:hover {
  background: #6255a5;
  border: 1px solid #6255a5;
}

ul.navbar-nav > li:last-child:hover a {
  color: #fff;
}

.white-navbar {
  background: #fff;
  padding: 20px 0;
  -webkit-box-shadow: 0 8px 6px -9px #999;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

.white-navbar #navbarSupportedContent {
  background: #fff;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.white-navbar ul.navbar-nav > li > a {
  color: #333333;
}

.white-navbar ul.navbar-nav > li:last-child {
  background: #6255a5;
  border: 1px solid #6255a5;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.white-navbar ul.navbar-nav > li:last-child a {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.white-navbar a.active {
  color: #6255a5 !important;
  border-bottom: 3px solid #6255a5;
}

.nav-item a.nav-link:hover {
  color: #6255a5;
}

ul.navbar-nav > li:last-child:hover {
  background: #6255a5;
  border: 1px solid #6255a5;
}

ul.navbar-nav > li:last-child:hover a {
  color: #fff;
}

.white-navbar ul.navbar-nav > li:last-child:hover {
  background: #fff;
}

.white-navbar ul.navbar-nav > li:last-child:hover a {
  color: #6255a5;
}

.navbar-toggler {
  flex: 0 0;
  color: var(--white-color);
  font-size: 40px;
  display: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-scroll-content {
  max-height: 100%;
  overflow-y: scroll;
  height: 100vh;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
